zk_info_api_service/src/main/resource/ehcache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ehcache" type="ehcacheType"/>
  <xs:complexType name="ehcacheType">
    <xs:sequence>
      <xs:element type="cacheType" name="cache"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cacheType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="maxEntriesLocalHeap"/>
        <xs:attribute type="xs:string" name="timeToLiveSeconds"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>